language:
  - cpp
  - python
python:
  - "2.7"
compiler:
  - gcc

branches:
  only:
    - master
    - develop

install:
  - sudo sh -c 'echo "deb http://packages.ros.org/ros/ubuntu precise main" > /etc/apt/sources.list.d/ros-latest.list'
  - wget http://packages.ros.org/ros.key -O - | sudo apt-key add -
  - sudo apt-get update -qq
  - sudo apt-get install python-catkin-pkg python-rosdep ros-indigo-catkin -qq
  - sudo apt-get remove -y mongodb mongodb-10gen
  - sudo apt-get install -y mongodb-clients mongodb-server -o Dpkg::Options::="--force-confdef"
  - sudo rosdep init
  - rosdep update
  - mkdir -p /tmp/ws/src
  - ln -s `pwd` /tmp/ws/src/package
  - cd /tmp/ws/src
  - git clone https://github.com/GT-RAIL/rail_manipulation_msgs.git
  - cd ..
  - rosdep install --from-paths src --ignore-src --rosdistro indigo -y

script:
  - source /opt/ros/indigo/setup.bash
  - catkin_make
  - catkin_make install
  - source install/setup.bash
  - cd src/package
  - ./jaco_description/scripts/minify.bash
  - git diff --exit-code
  - /opt/ros/indigo/share/xacro/xacro.py jaco_description/robots/standalone_arm.urdf.xacro
