<launch>
  <arg name="max_curvature" value="20.0" />

  <node name="jaco_arm_trajectory_node" pkg="wpi_jaco_wrapper" type="jaco_arm_trajectory_node" output="screen">
    <remap from="jaco_arm/fingers_controller" to="/jaco_arm/fingers_controller/gripper"/>
    <remap from="jaco_arm/arm_controller" to="/jaco_arm/arm_controller/trajectory"/>
    <remap from="jaco_arm/smooth_arm_controller" to="/jaco_arm/smooth_arm_controller/trajectory"/>
    <remap from="jaco_arm/joint_velocity_controller" to="/jaco_arm/joint_velocity_controller/trajectory"/>
    <param name="max_curvature" type="double" value="$(arg max_curvature)" />
  </node>
  
  <node name="jaco_manipulation" pkg="wpi_jaco_wrapper" type="jaco_manipulation" output="screen" />
  
  <node name="jaco_conversions" pkg="wpi_jaco_wrapper" type="jaco_conversions" />
  <node name="jaco_kinematics" pkg="wpi_jaco_wrapper" type="jaco_kinematics" />
</launch>
