<launch>
	<!-- By default, we do not start a database (it can be large) -->
	<arg name="db" default="false" />

	<!-- By default, we are not in debug mode -->
	<arg name="debug" default="false" />

	<rosparam command="load" file="$(find mico_moveit_config)/config/joint_names.yaml"/>

	<!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
	<include file="$(find mico_moveit_config)/launch/planning_context.launch">
		<arg name="load_robot_description" value="true"/>
	</include>

	<!-- If needed, broadcast static tf for robot root -->
	<node pkg="tf" type="static_transform_publisher" name="virtual_link" args="0 0 0 0 0 0 mico root 100" />  

	<!-- Given the published joint states, publish tf for the robot links -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

	<!--# The planning and execution components of MoveIt! configured to 
	# publish the current configuration of the robot (simulated or real)
	# and the current state of the world as seen by the planner-->
	<include file="$(find mico_moveit_config)/launch/move_group.launch">
		<arg name="publish_monitored_planning_scene" value="true" />
	    <arg name="allow_trajectory_execution" value="true"/>  
	    <arg name="fake_execution" value="false"/>
	    <arg name="info" value="true"/>
	    <arg name="debug" value="$(arg debug)"/>
	</include>

	<!--# Run Rviz and load the default config to see the state of the move_group node -->
	<include file="$(find mico_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="true"/>
		<arg name="debug" value="$(arg debug)"/>
	</include> 

    <!-- If database loading was enabled, start mongodb as well -->
	<include file="$(find mico_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)"/>

</launch>
